{{l, ch,cc = WizardLevel,character(),"Overchannel"}}{{err("Your Wizard Level is not high enough!") if l<14 else ""}}{{ch.create_cc_nx(cc,None,None,'long',None,0,None,'Overchannel Counter','Tracks the number of times Overchannel has been used. Resets on a long rest.')}}{{ch.mod_cc(cc,+1)}} -f "Overchannel|When you cast a wizard spell of 1st through 5th-level that deals damage, you can deal maximum damage with that spell.

The first time you do so, you suffer no adverse effect. If you use this feature again before you finish a long rest, you take 2d12 necrotic damage for each level of the spell, immediately after you cast it. Each time you use this feature again before finishing a long rest, the necrotic damage per spell level increases by 1d12. This damage ignores resistance and immunity."  max